<h1>Edit Task</h1>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="task_description">Task</label>
  <input id="task_description" name="description" type="text" value="<%= @task.description %>">
  <button>Update the Task!</button>
</form>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="task_mark" type="hidden" value="true">
  <button>Mark done</button>
</form>
