<h1> New Task </h1>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_description">Task</label>
  <input id="task_description" name="description" type="text">
  <button>Create the Task!</button>
</form>
